@model ContactsCS.Models.Credentials
<div class="row">
    <form id="formLogin" method="post" asp-controller="Login" asp-action="Login">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" asp-For="UserName" class="form-control" id="username" name="username" aria-describedby="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" asp-For="Password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-check">
            <input class="form-check-input" asp-For="KeepSignedIn" type="checkbox" value="" id="keepsignedin" />
            <label class="form-check-label" for="keepsignedin"> Remember me </label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        
        @if (ViewData["AuthMessage"] != null)
        {
            <label>@ViewData["AuthMessage"]</label>
        }
    </form>
</div>